<form method="get" name="form_search" action="{{ path('search') }}" class="uk-search uk-search-default">
    <input name="search" class="uk-search-input" placeholder="{{ 'search'|trans }}...">
    <button class="uk-search-icon-flip" uk-search-icon></button>
</form>
