{% extends "Layout/layout-default.html.twig" %}
{% block main %}
  <div class="m-panel size-tb mg-c">
    <div class="m-content">
      <div class="x_panel">
        <div class="x_content center">
          <p class="bd-highlight">{{ 'delete_svistyn_question'|trans }}?</p>
          {{ include('Form/delete.html.twig', { 'form' : form, 'cancel_url' : path('svistyn_post') }) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
