{% extends "Layout/layout-default.html.twig" %}
{% block main %}
    <div class="uk-container uk-container-xsmall">
        <div class="uk-section uk-padding uk-background-default kuk-shadow">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
