{% extends "Layout/layout-default.html.twig" %}
{% block main %}
    <div class="uk-section uk-section-xsmall">
        <div class="uk-container uk-container-xsmall">
            {% for friend in user.friends %}
                {{ include('Friends/ModeView/full.html.twig', {'friend':friend}) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}

