<div class="uk-card uk-card-default uk-card-small uk-margin-small">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img data-src="{{ user.avatar|avatarStyleDefault }}" width="40" height="40" alt uk-img>
            </div>
            <div class="uk-width-expand">
                {{ form_start(form_comment, { 'action': path('comment_add' , { 'id' : comment.svistyn.id }), 'method': 'POST' }) }}
                <div class="uk-margin">
                    <br>
                    {{ form_widget(form_comment) }}
                </div>
                {{ form_end(form_comment) }}
            </div>
        </div>
    </div>
</div>
