{% for group in groups %}
    <div class="uk-card uk-card-default uk-card-small uk-margin-small">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img data-src="{{ group.avatar|avatarGroupStyleDefault }}" width="40" height="40" alt uk-img>
                </div>
                <div class="uk-width-expand">
                    <div>
                        <a class="uk-text-small uk-text-muted"
                           href="{{ path('group_show',{'slug':group.slug}) }}">
                            {{ group.name }}
                        </a>
                    </div>
                    <p class="uk-text-meta uk-margin-remove-top">
                        <a href="#">
                            0
                            {{ 'followers'|trans }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
