.box { position: relative; border-radius: 3px; background: #ffffff; border-top: 3px solid #2dc3e8; width: 100%; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.kuk-shadow { box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.kuk-width-small { width: 200px; }

.kuk-child-margin-small-left > * { margin-left: 15px; }
.kuk-child-margin-small-left > *:first-child { margin-left: 0; }
