//@import "compass";
//@import "../inc/mixins";
//.size-tb{
//  max-width: 600px;
//}
//.mg-c{
//  margin: 0 auto;
//}
//.navbar-c-right{
//  .dropdown-menu{
//    right: 0;
//    left: auto;
//    margin-top: 6px;
//    &:after{
//      right: 6px;
//    }
//  }
//}
//.d-flex{
//  @include display-flex();
//}
//.d-flex-align-center{
//  @include align-items(center);
//}
//.inline-radio{
//
//  & > .iradio_flat-green{
//    margin-left: 20px;
//    &:first-child{
//      margin-left: 0;
//    }
//    & + label{
//      margin-left:10px;
//      display: inline-block;
//    }
//  }
//}
//.help-block{
//  ul{
//    padding:0;
//    margin:0;
//    li{
//      list-style: none;
//    }
//  }
//}
//.hide{
//  display: none;
//}
//.ds-fl-c{
//  display: flex;
//  align-items: center;
//}
//.avatar-view {
//  display: block;
//  width: 220px;
//  border: 3px solid #fff;
//  border-radius: 5px;
//  box-shadow: 0 0 5px rgba(0, 0, 0, .15);
//  cursor: pointer;
//  overflow: hidden;
//}
.box{
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #2dc3e8;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.kuk-shadow{
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.kuk-width-small{
  width: 200px;
}
.kuk-child-margin-small-left{
  & > *{
    margin-left: 15px;
    &:first-child{
      margin-left: 0;
    }
  }
}