{% extends "Layout/layout-default.html.twig" %}
{% block main %}
  <div class="m-panel size-tb mg-c">
    <div class="m-content">
      <u>
        <li><a href="{{ path('svistyn_post') }}">{{ 'posts'|trans }}</a></li>
      </u>
    </div>
  </div>
{% endblock %}