{% extends "System/page.html.twig" %}
{% block page %}
    <div class="lt lt-security">
        <div class="lt-r lt-r--left">{% block region_left %}{% endblock %}</div>
        <div class="lt-r lt-r--right">{% block region_right %}{% endblock %}</div>
    </div>
{% endblock %}
